doctype html
head
  title #{title}
  style(type="text/css").
    /* latin-ext */
    @font-face {
      font-family: 'Fira Mono';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Fira Mono Regular'), local('FiraMono-Regular'), url(https://fonts.gstatic.com/s/firamono/v9/N0bX2SlFPv1weGeLZDtgKP7Ss9XZYalI.woff2) format('woff2');
    }
        /* latin-ext */
    @font-face {
      font-family: 'Fira Sans';
      font-style: italic;
      font-weight: 400;
      font-display: swap;
      src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v10/va9C4kDNxMZdWfMOD5VvkrjHYTLVdlTOr0s.woff2) format('woff2');
    }
    /* latin-ext */
    @font-face {
      font-family: 'Fira Sans';
      font-style: italic;
      font-weight: 700;
      font-display: swap;
      src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(https://fonts.gstatic.com/s/firasans/v10/va9f4kDNxMZdWfMOD5VvkrByRCf2VFnklULWJXg.woff2) format('woff2');
    }
    /* latin-ext */
    @font-face {
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5VvmYjLazX3dGTP.woff2) format('woff2');
    }
    /* latin-ext */
    @font-face {
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v10/va9B4kDNxMZdWfMOD5VnLK3eSBf6Xl7Gl3LX.woff2) format('woff2');
    }
body(style="margin: 0; background-color: #141722; font-family: \"Fira Sans\", sans-serif; padding: 30px;")
  div(style="background-color: white; max-width: 550px; margin: auto;")
    header(style="background-color: #0f111a; display: flex; align-items: center;")
      img(src="https://require.podcast.gq/static/logo-802c736d140830acbc8cb1b0ee208e4a.png" style="width: 60px; height: 60px;")
      span(style="color: #FF5370; font-family: 'Fira Mono', monospace; margin: auto;") #{title}
    article(style="padding: 0 20px 20px 20px") !{content}
  a(href='\{\{\{unsubscribe\}\}\}' style="color: #FF5370; font-family: 'Fira Mono', monospace; text-align: center; margin: 5px; display: block;") Nie chcę więcej otrzymywać require('letter')
