@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: "Fira Code", monospace;
  color: #fff;
}

body {
  margin: 0;
  background-color: #0f111a;
}

* {
  box-sizing: border-box;
}
